<div class="w-full max-w-md mx-auto px-4 bg-green-200 ">
  <p class="text-3xl text-center">Nuvy</p>
  <%= image_tag "nuvy.png", class: "mx-auto" %>
  <h3 class="text-xl font-bold">Track food facts and daily calories, reach your health goals</h3>
  <p class="text-sm">This app simplifies nutrition and makes healthy living truly achievable.</p>
  <p class="text-center rounded-3xl py-2 bg-green-600">Get Ready</p>
</div>
